@import url('https://fonts.googleapis.com/css2?family=Kenia&family=Zen+Dots&display=swap');

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #111111;
}


input{
    color: #fff;
    padding: 17px;
    outline: nome;
    font-size: 20px;
    font-family: 'Zen Dots', cursive;
    border-radius: 25%;
}


.num {
    width: 64px;
    height: 67px;
    cursor: pointer;
    
}

.text {
    width: 160px;
    height:  26px;
    border-radius: 22px;
    letter-spacing: 5px;
    text-align:  center;
    margin-bottom: 12px;
    
}


.text1{
    width: 24px;
    height: 26px;
    border-radius: 22px;
    letter-spacing: 5px;
    text-align:  center;
    margin-bottom: 12px;
    cursor: pointer;
    
    

}
.main {
    display: inline-block;
    
}
.maincolor{
    background-color: #000
    
}

.mais {
    background-color: #acacac;
}

.sub {
    background-color: #acacac;
}

.mul {
    background-color: #acacac;
}
.div {
    background-color: #acacac;
}
.igual{
    background-color: #acacac;
}